---
import IDs from '../components/ids.astro';
---

<div id="my_usernames" class="h-40"></div>
<div class="flex flex-col px-4 w-full justify-center items-center">
  <h2 class="text-3xl font-bold mb-8">About My Usernames</h2>
  <div class="max-w-3xl text-xl">
    <p class="mb-4">
      Regarding my three usernames—<IDs>Nigh</IDs>, <IDs>xianii</IDs>, and <IDs>TecNico</IDs>—they
      all represent me. Think of it as "three in one," so to speak.
    </p>
    <p class="mb-4">
      <IDs>Nigh</IDs> is a username I used early on and rarely use publicly anymore. It's a single syllable
      that easily calls to mind "Night," while also resembling a "Knight" without beginning or end.
    </p>
    <p class="mb-4">
      <IDs>xianii</IDs> is one of my regular usernames, intentionally made difficult to pronounce—so
      no need to bother trying to sound it out.
    </p>
    <p>
      If you ever need to refer to me verbally, just go with <IDs>TecNico</IDs>. It’s the one I use
      most often on social media, especially when I need to say my username out loud.
    </p>
  </div>
</div>
<div class="h-20"></div>
