<div class="flex flex-row justify-center items-center h-screen">
  <div class="text-7xl font-bold font-sans">
    <div class="flex flex-row items-center">
      <span class="mt-4 mr-4 text-4xl">I'm</span>
      <span class="text-rotate duration-6000 leading-loose">
        <a href="#" class="justify-items-start">
          <span class="text-primary hover:underline">xianii</span>
          <span class="text-secondary hover:underline">TecNico</span>
          <span class="text-warning hover:underline">Nigh</span>
        </a>
      </span>
      <br />
    </div>
    <div class="">
      <span class="text-4xl">A random<br /></span><span class="text-primary"
        >Full-stack<br />Electronics engineer</span
      >
    </div>
  </div>
</div>
