---
const year = new Date().getFullYear();
---

<div class="text-sm font-bold">
  <span class="text-sm font-bold mr-1">&copy;{year}</span>
  <a target="_blank" href="https://github.com/Nigh" class="hover:underline">TecNico</a>
</div>
