---
import Profile from '../components/profilepic.astro';
import Brief from '../components/brief.astro';
import Skills from '../components/skill.astro';
import Contact from '../components/contactindex.astro';

import CrossfadeBackground from '../components/CrossfadeBackground.astro';
import bg1 from '../assets/bg1.jpg';
import bg2 from '../assets/bg2.jpg';
import bg3 from '../assets/bg3.jpg';
import bg4 from '../assets/bg4.jpg';
const backgrounds = [bg1.src, bg2.src, bg3.src, bg4.src];

const base = import.meta.env.PUBLIC_BASE_URL;
---

<div class="flex flex-row gap-4 w-full">
	<CrossfadeBackground images={backgrounds} />

	<div class="flex-1 h-full overflow-visible">
		<div class="min-h-screen">
			<Brief />
		</div>
		<div class="min-h-screen">
			<Skills />
		</div>
		<div class="min-h-screen">
			<Contact />
		</div>
	</div>

	<div class="hidden flex-1 lg:block overflow-visible">
		<div class="lg:sticky lg:top-[25%]">
			<div class="relative tooltip tooltip-primary">
				<div class="tooltip-content">
					<div class="animate-bounce text-primary-content -rotate-3 text-2xl font-black">
						Click for more!!!
					</div>
				</div>
				<div style="view-transition-name:profile;">
					<a href={base + 'about/'}>
						<Profile />
					</a>
				</div>
			</div>
			<div class="min-h-[30vh]"></div>
		</div>
	</div>
</div>

<script></script>
