---
import myLogo from '../assets/icon.png';
import NavBtn from './nav_btn.astro';
import nav from './nav_item.ts';
import BEIAN from './beian.astro';
import Copyright from './copyright.astro';
const beian = import.meta.env.BEIAN;
---

<div class="flex flex-col p-4">
  <div class="flex justify-center items-center py-4">
    <img
      src={myLogo.src}
      width="120"
      alt="profile"
      class="outline-4 outline-primary rounded-full"
    />
  </div>
  {
    nav.items.map((item) => (
      <NavBtn href={item.href} svg={item.svg}>
        {item.name}
      </NavBtn>
    ))
  }
  <a rel="me" href="https://mastodon.cloud/@nigh"></a>
</div>

{
  beian && (
    <div class="flex flex-col mt-auto max-w-xs text-current/60 text-center">
      <div>
        <BEIAN />
      </div>
      <div>
        <Copyright />
      </div>
    </div>
  )
}
