---
const { href, svg } = Astro.props;
---

<a
  href={href}
  class="flex flex-col items-center p-3 h-18 aspect-square rounded-full hover:bg-primary/30 transition-color duration-300"
>
  <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6" fill="currentColor">
    <g><path d={svg}></path></g>
  </svg>
  <span class="text-xs mt-1">
    <slot />
  </span>
</a>
