---
const { href, svg } = Astro.props;
---

<a
  href={href}
  class={Astro.props.class ??
    'flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-primary/10 transition-colors'}
>
  <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6" fill="currentColor">
    <g><path d={svg}></path></g>
  </svg>
  <span class="text-base font-medium"><slot /></span>
</a>
