---
import NavBtnMobile from './nav_btn_mobile.astro';
import nav from './nav_item.ts';
import BEIAN from './beian.astro';
const beian = import.meta.env.BEIAN;
const pb = beian == '' ? 'pb-4' : 'pb-2';
---

<div class="flex flex-col w-full">
  <div class={'flex flex-1 justify-around pt-1 ' + pb}>
    {
      nav.items.map((item) => (
        <NavBtnMobile
          href={item.href}
          svg={item.svg}
          class="flex flex-col items-center p-3 rounded-full hover:bg-primary/10 transition-colors"
          mobile
        >
          <span>{item.name}</span>
        </NavBtnMobile>
      ))
    }
  </div>

  {
    beian && (
      <div class="text-current/60 text-center">
        <BEIAN />
      </div>
    )
  }
</div>
