---
import icon from '../assets/icon.png';
---

<div class="p-4 h-full w-full hover-3d z-50">
  <div
    class="ring-primary ring-offset-base-100 bg-primary/60 rounded-full ring-4 ring-offset-2 backdrop-blur-md"
  >
    <img src={icon.src} alt="profile" class="w-full h-full object-contain" />
  </div>
  <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>
