---
import { getCollection } from 'astro:content';
import Pages from '../../layouts/Pages.astro';
const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Pages>
  <div id="content" class="align-center justify-center">
    <h1 class="text-2xl font-bold mb-4 m-title">Posts</h1>
    <ul class="list w-full px-6">
      {
        sortedPosts.map((post) => (
          <a href={`${post.slug}/`}>
            <li class="list-row mt-2 bg-base-300 rounded-box shadow-md hover:bg-primary/80">
              <div class="list-col-grow">
                <div class="font-bold text-lg">{post.data.title}</div>
                <div class="text-xs uppercase font-semibold opacity-60">
                  {post.data.date.toISOString().split('T')[0]}
                </div>
              </div>
            </li>
          </a>
        ))
      }
    </ul>
  </div>
</Pages>
