---
import '../styles/global.css';
import '../styles/markdown.css';
const base = import.meta.env.PUBLIC_BASE_URL;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={`${base}icon.png`} />
    <meta name="generator" content={Astro.generator} />
    <title>xianii</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
