---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout>
  <div class="flex w-full min-h-screen justify-center">
    <Nav />
    <div class="flex flex-row w-full justify-center">
      <main class="w-full mx-auto overflow-y-auto">
        <slot />
      </main>
    </div>
  </div>
</Layout>
